<div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Financial <em>Services</em></h2>
            <span>Aliquam id urna imperdiet libero mollis hendrerit</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="{% static 'images/service_01.jpg' %}" alt="">
            <div class="down-content">
              <h4>Digital Currency</h4>
              <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="assets/images/service_02.jpg" alt="">
            <div class="down-content">
              <h4>Market Analysis</h4>
              <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="assets/images/service_03.jpg" alt="">
            <div class="down-content">
              <h4>Historical Data</h4>
              <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="assets/images/more-info.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6 align-self-center">
                <div class="right-content">
                  <span>Who we are</span>
                  <h2>Get to know about <em>our company</em></h2>
                  <p>Curabitur pulvinar sem a leo tempus facilisis. Sed non sagittis neque. Nulla conse quat tellus nibh, id molestie felis sagittis ut. Nam ullamcorper tempus ipsum in cursus<br><br>Praes end at dictum metus. Morbi id hendrerit lectus, nec dapibus ex. Etiam ipsum quam, luctus eu egestas eget, tincidunt</p>
                  <a href="#" class="filled-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="left-content">
            <span>Lorem ipsum dolor sit amet</span>
            <h2>Our solutions for your <em>business growth</em></h2>
            <p>Pellentesque ultrices at turpis in vestibulum. Aenean pretium elit nec congue elementum. Nulla luctus laoreet porta. Maecenas at nisi tempus, porta metus vitae, faucibus augue. 
            <br><br>Fusce et venenatis ex. Quisque varius, velit quis dictum sagittis, odio velit molestie nunc, ut posuere ante tortor ut neque.</p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="row">
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">945</div>
                <div class="count-title">Work Hours</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">1280</div>
                <div class="count-title">Great Reviews</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">578</div>
                <div class="count-title">Projects Done</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">26</div>
                <div class="count-title">Awards Won</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>What they say <em>about us</em></h2>
            <span>testimonials from our greatest clients</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="owl-testimonials owl-carousel">
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>George Walker</h4>
                <span>Chief Financial Analyst</span>
                <p>"Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem sit amet quam. Pellentesque in sagittis lacus."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>John Smith</h4>
                <span>Market Specialist</span>
                <p>"In eget leo ante. Sed nibh leo, laoreet accumsan euismod quis, scelerisque a nunc. Mauris accumsan, arcu id ornare malesuada, est nulla luctus nisi."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>David Wood</h4>
                <span>Chief Accountant</span>
                <p>"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>Andrew Boom</h4>
                <span>Marketing Head</span>
                <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 footer-item">
    <h4>Useful Links</h4>
    <ul class="menu-list">
      <li><a href="#">Vivamus ut tellus mi</a></li>
      <li><a href="#">Nulla nec cursus elit</a></li>
      <li><a href="#">Vulputate sed nec</a></li>
      <li><a href="#">Cursus augue hasellus</a></li>
      <li><a href="#">Lacinia ac sapien</a></li>
    </ul>
  </div>


  <div class="col-md-3 footer-item">
    <h4>Additional Pages</h4>
    <ul class="menu-list">
      <li><a href="#">About Us</a></li>
      <li><a href="#">How We Work</a></li>
      <li><a href="#">Quick Support</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-item">
          <h4>Finance Business</h4>
          <p>Vivamus tellus mi. Nulla ne cursus elit,vulputate. Sed ne cursus augue hasellus lacinia sapien vitae.</p>
          <ul class="social-icons">
            <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
        

        <div class="partners">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="owl-partners owl-carousel">
                  
                    <div class="partner-item">
                      <img src="assets/images/client-01.png" title="1" alt="1">
                    </div>
                    
                    <div class="partner-item">
                      <img src="assets/images/client-01.png" title="2" alt="2">
                    </div>
                    
                    <div class="partner-item">
                      <img src="assets/images/client-01.png" title="3" alt="3">
                    </div>
                    
                    <div class="partner-item">
                      <img src="assets/images/client-01.png" title="4" alt="4">
                    </div>
                    
                    <div class="partner-item">
                      <img src="assets/images/client-01.png" title="5" alt="5">
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
      
      
          <!-- code for database written on 18/05/21 -->
           
          

         def signup(request):
            if request.method == 'POST'

          <!-- get the post parametre -->
          username= request.POST['username']
          faname= request.POST['faname']
          lname= request.POST['lname']
          email=request.POST['email']
          pass1=request.POST['pass1']
          pass2=request.POST['pass2']

          <!-- check for errorneous inputs -->
          if len(username) >15:
              message.error(request,"Username must be under 15 characters")
              return redirect('home')

              if not username.isalnum():
              message.error(request,"Username should only contain letters and numbers")
              return redirect('home')

          if pass1 != pass2:
              message.error(request,"Password does not match")
              return redirect('home')


              <!-- create the user -->
          myuser= User.object.create_user(username, email,pass1)
          myuser.first_name=fname
          myuser.last_name=lname
          myuser.save()
          messages.success(request,"Your account has been created")
          return redirect('home')

          else:
          return HttpResponse('404-not found')


          <!-- important for sign in -->
         
          <div class="container">
            <div class="d-flex justify-content-center h-100">
              <div class="card">
                <div class="card-header">
                  <h3>Sign In</h3>
                  <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                  </div>
                </div>
                <div class="card-body">
                  <form>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      <input type="text" name='username' class="form-control" placeholder="username">
                      
                    </div>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="password" name='password1' class="form-control" placeholder="password">
                    </div>
                    <div class="row align-items-center remember">
                      <input type="checkbox">Remember Me
                    </div>
                    <div class="form-group">
                      <input type="submit" value="Login" class="btn float-right login_btn">
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="signup">Sign Up</a>
                  </div>
                  <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                  </div>
                </div>
              </div>
            </div>


            <!-- importantpart of index -->

            <div class="col-sm-2">
              <div class="team-item">
                <img src="/static/images/ece_01.jpg" alt="">
                <div class="down-content">
                  <a href="login"> Electronics and Communication Engineering </a>
                  <span>...</span>
                  <p>Write something here</p>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="team-item">
                <img src="/static/images/cse-01.jpg" alt="">
                <div class="down-content">
                  <a href="login"> Computer Science Engineering </a>
                  <span>...</span>
                  <p></p>Write something here</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="team-item">
                <img src="/static/images/ee_01.jpg" alt="">
                <div class="down-content">
                  <a href="login"> Electrical Engineering</a>
                
                  <span>...</span>
                  <p>Write something here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="team-item">
          <img src="/static/images/me_01.jpg" alt="">
          <div class="down-content">
            <a href="login"> Mechanical Engineering</a>
          
            <span>...</span>
            <p>Write something here</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="team-item">
          <img src="/static/images/civil_01.png" alt="">
          <div class="down-content">
          <a href="login"> Civil Engineering </a>>
            
            <span>...</span>
            <p></p>Write something here</p>
          </div>
        </div>
      </div>
      
