{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>PlacemenTo_Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-finance-business.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa fa-clock-o"></i>Tue-Sat 10:15-17:45</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>033 0346 4560</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="#"><i class="fa fa-facebook-square" style="font-size:24px"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square" style="font-size:24px"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <!-- <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index"><h2>PlacemenTO</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
                  <!-- <span class="sr-only">(current)</span> -->
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Our Services</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
              <li class="nav-item">
              <a  <button class="btn btn-danger btn-block" type="submit" href="login">Logout</button></a>
              </li>
              <!-- <li class="nav-item">
                <a <button class="btn btn-primary btn-block" type="submit" href="signup">SignUp</button></a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->

    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Student Dashboard</h1>
           <!-- <h1> <span>Student Dashboard</span><hy1> -->
          </div>
        </div>
      </div>
    </div>
    
    <div class="single-services">
      <div class="container">
        <div class="row" id="tabs">
          <div class="col-md-4">
            <ul>
              <li><a href='#tabs-1'>Your Profile <i class="fa fa-angle-right"></i></a></li>
              <li><a href="#tabs-2">Update Your Profile<i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-3'>See Your Updated Profile  <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-4'>Alumni Profiles <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
          <div class="col-md-8">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <ul class="top-icon">
                  {% if user.is_authenticated %}
                 <li><a class="text"> Wellcome {{user.username}} !!</a></li>
                 {% else %}
                 <li class="login"><a herf="login"></a></li>
                 {% endif %}
               </ul>
               <img src="/static/images/profileicon.jpg" alt="">
              </article>
              <article id='tabs-2'>
                <form class="form-horizontal" method="POST" action="updateprofile">{% csrf_token %}
                <div class="form-group">
                  <label <input type="text" name='dept' class="form-control" placeholder="Select Your Dept"></label>
                   <!-- for="exampleFormControlSelect1">Select Your Dept.</label> -->
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>ECE</option>
                    <option>CSE</option>
                    <option>EE</option>
                    <option>ME</option>
                    <option>CE</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Select Your Standard</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>3rd Year</option>
                    <option>4th Year</option>
                  </select>                  
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">University Roll Number</label>
                  <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="University Roll Number">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Your Skills</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mention Your Skills">
                </div>
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Upload Your Image</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  </div>
                </form>
                <div class="form-group">
                  <input type="submit" value="Update" class="btn float-right login_btn" style="color: olive;">
                </div>
              </form>
              </article>
              <article id='tabs-3'>
                
                <!-- <p>Write something here
                <br><br>Write something here</p> -->
              </article>
              <article id='tabs-4'>
                <img src="/static/images/alumnies (2).png" alt="">
                <h4>Alumni</h4>
              </article>
            </section>
          </div>

    
    
    
    <!-- <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2021 Anowar
            
            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">Anowar</a></p>
          </div>
        </div>
      </div>
    </div> -->

   <!-- Bootstrap core JavaScript - -->
    <script src="{%static 'js/jquery.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
           
    <!-- <script src="{%static 'js/jquery.min.js'%}"></script>  -->
    <!-- Additional Scripts -->
    <script src="{%static 'js/custom.js' %}"></script>
    <script src="{%static 'js/owl.js' %}"></script>
    <script src="{%static 'js/slick.js' %}"></script>
    <script src="{%static 'js/accordions.js' %}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>
